<form method="post">
<label for="sentence">Add the sentence</label>
<input type="text" id="sentence" name="sentence" required>

<label for="sentence">Add a picture</label>
  <input type="file" id="file" name="file">
<br/> 
<input type="submit" value="Add">
</form>
